CSS Syntax
A CSS rule consists of a selector and a declaration block:
h1{
    color:blue; font-size:12px;
}
h1 : selector
color : property
blue:value
font-size : property
12px: value
{
    inside declaration
}


The selector points to the HTML element you want to style.

The declaration block contains one or more declarations separated by semicolons.

Each declaration includes a CSS property name and a value, separated by a colon.

Multiple CSS declarations are separated with semicolons, and declaration blocks are surrounded by curly braces.

Example

In this example all <p> elements will be center-aligned, with a red text color:

p {
  color: red;
  text-align: center;
}
